<section class="container-fluid bg-white">
    <div class="row py-5 justify-content-center">
        
        <div class="col-lg-8 col-md-8">

            <hr class="border mt-5">
            <h4 class="text-center text-primary">Legal Stuff</h4>
            <div class="row justify-content-center">
                
                
                <div class="px-2"><a href="{{ url_for('privacy') }}" class="lead text-secondary">Privacy Policy</a></div>
            
                <div class="px-2"><a href="{{ url_for('terms') }}" class="lead text-secondary">Terms and Conditions</a></div>
            </div>
        </div>
    </div>
</section>