<nav class="navbar navbar-expand-lg navbar-light sticky-top shadow-sm bg-primary">
    <a class="navbar-brand text-white lead" href="{{ url_for('index') }}">Voibl</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Added ml-auto here -->
            <!-- <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('favicon_generator') }}">Articles<span class="sr-only">(current)</span></a>
            </li> -->
            
        </ul>
    </div>
</nav>