<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <link rel="icon" href="https://voibl.com/favicon/static/19030101402602277434/favicon.ico">

    <title>Privacy Policy</title>
</head>

<body>
{% include 'navbar.html' %}
   
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8">
            <div class="card border-primary my-4">
                <div class="card-body">
                    
                    <div class="row ml-0 mr-0">
                        <div class="col-12 px-4 w-100">
                            <h3 class="text-primary text-center">Privacy Policy</h3>
                            <p class="lead pt-4">
                            Last Update: June 15, 2024
                            </p>
                            <p class="lead pt-4">
                            This privacy policy applies to any website, platform, or related services owned and operated by Note to Draft, LLC (the “Platform”). The Platform also specifically includes, without limitation, any tools, software, and content found at <a href="https://notetodraft.com">notetodraft.com</a> and <a href="https://voibl.com">voibl.com</a>.  
                            </p>
                            <br>
                            <h5 class="text-primary">
                                Information Deletion and Privacy Requests
                            </h5>
                            <p class="lead pt-4">
                                This policy details our practices relating to the collection, business purposes, retention, and deletion of personal information that we may collect regarding visitors, users, and subscribers of our Platform ("Visitors").
                                <br>
                                <br>
                                If you wish to exercise any rights under this agreement or would like to delete any personal information that has been saved on our platform please send an email to privacy@notetodraft.com.  
                                
                            </p>
                            <br>
                            <h5 class="text-primary">
                                Do Not Track Signals and Global Privacy Controls
                            </h5>
                            <p class="lead pt-4">
                                At this time we have not implemented measures to identify do not track signals and have not implemented Global Privacy Control ("GPC").
                            </p>
                            <br>
                            <h5 class="text-primary">
                                Information We Collect
                            </h5>
                            <br>
                            <i class="lead">Profile Information</i>
                            <p class="lead pt-4">
                                We collect personal information about you when you provide such information to us through the Platform.  We collect and store such information for the purposes of providing the features throughout the Platform.
                                <br>
                                <br>
                                Such profile information may include your first name, last name, company name, street address, city, state, zip code, email address, business tax ID number (EIN), payment links, Venmo handle, Zelle handle, and Paypal handle as well as any images of or relating to you or an entity that you are acting on behalf of when visiting our Platform.
                                
                            </p>
                            <i class="lead">Contact Information</i>
                            <p class="lead pt-4">
                                We collect contact information about you when you provide such information to us through the Platform. Such contact information may include your email address, phone number, URL's, and addresses.  
                                <br><br>
                                We collect and store such information for the purposes of providing the features throughout the Platform.  We may also use such information from time to time to provide you with educational content, information of interest, updates to the Platform, as well as other general marketing materials.
                     
                            </p>
                            <i class="lead">Images and Files</i>
                            <p class="lead pt-4">
                                We collect and store images and files when you provide such information to us through the Platform. Such images and files may contain information such as your name and likeness, metadata, or written content.  If you do not wish for our Platform systems to store information contained within such files please do not upload them into our Platform systems.  
                                <br><br>
                                We collect and store such information for the purposes of providing the features throughout the Platform, such as, for example, the Platform's favicon generator tool has you upload an image that is stored on our systems to it may be displayed through a code snippet that we provide to you.
                     
                            </p>
                            <i class="lead">Technical Information</i>
                            <p class="lead pt-4">
                                When you visit our Platform, certain information may be automatically collected by our servers due to the nature of how the internet operates. This information may include, but is not limited to:
                                <br><br>
                                IP Address: This is used to identify the device from which you access our Platform and may provide information about your general location.
                                <br><br>
                                User-Agent: This includes details about your browser, operating system, and device type, which helps us optimize our Platform for your experience.
                                <br><br>
                                Referer: The URL of the web page that directed you to our Platform, which helps us understand the source of our traffic.
                                <br><br>
                                Authorization Headers: If you access our Platform using tokens or credentials, these may be included in headers.
                                <br><br>
                                Accept-Language: This indicates your language preferences and can help us provide content in your preferred language.
                                <br><br>
                                We collect this information to better understand how our visitors use our Platform, improve its functionality, and ensure a secure and personalized experience. While this information does not directly identify individual users, it may be considered Personal 
                                Information under certain privacy laws, such as the California Consumer Privacy Act (CCPA) and the California Privacy Rights Act (CPRA).
                                                   
                            </p>
                            
                            <br>
                            <h5 class="text-primary">
                                Service Providers
                            </h5>
                            <p class="lead pt-4">
                                We currently use the following service providers in providing the services relating to the Platform and our business.
                            </p>
                            <i class="lead">PythonAnywhere</i>
                            <p class="lead pt-4">
                                Pythonanywhere is a hosting platform that we use to host our Platform.  Through Pythonanywhere, we may have access to certain personal information such as your IP Address, device type, pages visited, interactions with our site, among other technical information.  This information may be accessed by us through Pythonanywhere for security and debugging purposes. 
                                <br><br>
                                We do not control the privacy practices nor does this privacy policy govern PythonAnywhere’s processing of personal information.  
                                <br><br>
                                To find out more about PythonAnywhere’s privacy practices see its privacy policy at https://www.pythonanywhere.com/privacy_v2/.
                            </p>
                            <i class="lead">VirusTotal</i>
                            <p class="lead pt-4">
                                VirusTotal is a virus and malware detection and scanning software provider that we use to scan files uploaded to our Platform for malicious code.  Information that may be shared with VirusTotal includes files uploaded to our Platform, information contained in such files, as well as any metadata or code that is included in such files.  This information may be accessed by us through VirusTotal for security purposes. 
                                <br><br>
                                We do not control the privacy practices nor does this privacy policy govern VirusTotal’s processing of personal information.  
                                <br><br>
                                To find out more about VirusTotal’s privacy practices see its privacy policy at https://docs.virustotal.com/docs/privacy-policy.
                            </p>
                            <br>
                            <h5 class="text-primary">
                                Website Functionality Integrations
                            </h5>
                           
                            <p class="lead pt-4">
                                We use the following service providers to provide functionality to our website.  Such service providers provide service and design frameworks that make it possible for our Platform to function.  For security purposes, each of the following libraries are retrieved through Hypertext Transfer Protocol Secure (HTTPS) connections.
                                <br><br>
                                The following libraries are hosted via CDN and may record request logs for maintaining CDN performance, security, and reliability.  We use Cloudflare to access the majority of the following libraries. 
                                <br><br>
                                Cloudflare processes information that “may include but is not limited to IP addresses, traffic routing data, system configuration information, and other information about traffic to and from Customers’ websites, devices, applications, and/or networks.” 
                                <br><br>
                                For more information about Cloudflare’s privacy practices please see its privacy policy at: https://www.cloudflare.com/privacypolicy/.


                            </p>
                            <i class="lead">FontAwesome</i>
                            <p class="lead pt-4">
                                We use FontAwesome for design elements such as icons on our website.  For example, on your projects page you will see these icons that are used to represent and “Edit Project” button, “Delete Project” button, and “Start/Stop Timer” button.  These types of icons are loaded from FontAwesome’s servers.

                            </p>
                            <i class="lead">jQuery</i>
                            <p class="lead pt-4">
                                jQuery is a fast, small, and feature-rich JavaScript library designed to simplify the client-side scripting of HTML. jQuery is used by our Platform to provide a better user experience when interacting with the Platform such as providing increased responsiveness, providing interactive components such as tooltips, form handling and validation when interacting with forms on our website, among other client-side functions that make the platform more intuitive and easier to use.

                            </p>
                            <i class="lead">Popper.js</i>
                            <p class="lead pt-4">
                                Popper.js is a library used for managing poppers in web applications (tooltips and popovers).  For example, when you hover over icons within the Platform, there will be a bubble that pops up that displays text identifying what the icon’s function handles.

                            </p>
                            <i class="lead">Bootstrap</i>
                            <p class="lead pt-4">
                                Bootstrap is a popular HTML, CSS, and JS framework for developing responsive and mobile-first websites. We use Bootstrap on our website to provide a user interface that is easier to use across both mobile and desktop platforms.

                            </p>
                            <i class="lead">Select2</i>
                            <p class="lead pt-4">
                                Select2 provides customizable select boxes with support for searching, tagging, remote data sets, and infinite scrolling. This CDN-hosted CSS file does not collect personal data but may record request logs for maintaining CDN performance and reliability.

                            </p>
                            <i class="lead">Intro.js</i>
                            <p class="lead pt-4">
                                Intro.js is a small library for creating step-by-step interactive introductions and onboarding guides for websites. We are or in the future will be using this library for the purposes of providing instructions on how to use the Platform.
                            </p>
                            <i class="lead">Cropper.js</i>
                            <p class="lead pt-4">
                                ICropper.js is an open-source JavaScript library that provides image cropping functionality for web applications, allowing users to easily select and crop parts of images. By integrating Cropper.js, our Platform enables enhanced user experiences while ensuring the efficient processing of image data.
                            </p>
                            <br>
                            <h5 class="text-primary">
                                Our Privacy Efforts and Privacy Laws
                            </h5>
                            <p class="lead pt-4">
                                In the United States there have been numerous states that have passed privacy related legislation which provide for certain privacy rights.  With that in mind, we operate throughout the United States and although we are not an entity that is currently required to comply with such state privacy laws and regulations, we are committed maintaining privacy best practices as we grow as an organization.  
                                <br><br>
                                For this reason, we provide the following options for managing the access, modification, and deletion of your personal information on the platform.  We also note that within the context of our business we do not sell any personal information to third parties for monetary compensation.  We do, however, use certain service providers and technical tools and libraries as disclosed in this privacy policy that may receive your information by your use of our Platform.
                            </p>
                            <br>
                            <h5 class="text-primary">
                                Specific Requests
                            </h5>
                            <p class="lead pt-4">
                                If you have additional requests or questions about our privacy practices you may email us at privacy@notetodraft.com and we will get back to you as soon as we can.  
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}


</body>
</html>